/*--------------------------------------------------------------------- CSS RESET -------------------------------------------------------------------------- */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, font, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td {
	margin: 0;
	padding: 0;
	border: 0;
	outline: 0;
	font-weight: inherit;
	font-style: inherit;
	font-size: 100%;
	vertical-align: baseline;
	overflow: hidden;
	text-decoration: none;
}
section, article, aside, header, footer, nav, dialog, figure {
	display:block;
}
:focus {
	outline: 0;
}
body {
	line-height: 1;
	color: black;
	background: white;
}
ol, ul {
	list-style: none;
}
table {
	border-collapse: separate;
	border-spacing: 0;
}
caption, th, td {
	text-align: left;
	font-weight: normal;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: "";
}
blockquote, q {
	quotes: "" "";
}
/*--------------------------------------------------------------------- END OF RESET -------------------------------------------------------------------------- */
*{
	font-family: Calibri, Candara, Segoe, "Segoe UI", Optima, Arial, sans-serif;
	box-sizing: border-box;
	color: #EEE;
}
li:hover {
	background-color: rgba(255, 255, 255, 0.2);
}
body {
	background-color: #FEFEFE;
}
.displayNone {
	display: none;
}
.hLine {
	width: 30%;
	border-bottom: 2px solid #0b52a0;
	line-height: 1vh;
	margin: 0 auto 3vh auto;
	/* do a line */
}
.iconLabel {
	position: absolute;
	font-size: 5vmin;
	width: 100%;
	bottom: 0;
	padding: 10px;
}
.icons {
	height: 100%;
}
.icons img{
	width: 40%;
	margin: 4vmin auto 0 auto;
}
.lemons {
	display: inline;
	color: #fdc43e !important;
}
.selected {
	background-color: rgba(255, 255, 255, 0.2);
}
.subMenu {
	text-indent: 30px;
	font-weight: lighter;
}
.text2 {
	text-align: left;
	font-size: 5vw;
	font-weight: lighter;
	text-indent: 5vw;
	line-height: 5vw;
	color: #1c252b;
}
#blackBox {
	display: none;
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: linear-gradient(to right, black, rgba(255,0,0,0));
	opacity: 0;
}

#bigolbox {
	position: absolute;
	top: 5%;
	left: 5%;
	width: 90%;
	height: 90%;
	text-align: center;
	vertical-align: middle;
	color: black;
}
#dropDownArrow {
	display: inline-block;
	width: 0; 
	height: 0;
	padding-bottom: 2px;
	border-left: 6px solid transparent;
	border-right: 6px solid transparent;
	border-top: 6px solid white;
}
#sideMenu {
	display: table;
}
#sideMenu ul {
	display: table-cell;
}
#sideMenu ul li {
	display: block;
	vertical-align: middle;
	padding: 20px;
	font-size: 19px;
	letter-spacing: 1px;
	font-weight: regular;
}
	
/* ------------------------------------------------ Begin Responsive Design ------------------------------------------------- */
/* Common ID styles */
	#boxContainer {
		width: 100%;
		margin: 0 auto 2vh auto;
	}
	#botMenu {
		
	}
	#botLeft {
		position: relative;
		float: left;
		display: inline;
		text-align: center;
		width: 30vw;
		height: 20vh;
		color: white;
	}
	#botRight {
		position: relative;
		float: right;
		display: inline;
		width: 70vw;
		height: 20vh;
		background-color: #0b52a0;
	}
	#botSubTitle {
		font-size: 1.8vh;
		line-height: 2vh;
		width: 90%;
		margin: 0 auto 0 auto;
	}
	#botTitle {
		
		font-size: 4vw;
		border: 2px solid white;
		width: 20vw;
		padding: 1vh 1vh 1.5vh 1vh;
		margin: 2vh auto 2vh auto;
	}
	#carelessDrivingBox {
		position: relative;
		display: inline-block;
		background-color: #0b52a0;
		width: 28vmin;
		height: 28vmin;
	}
	#impairedDrivingBox {
		position: relative;
		display: inline-block;
		background-color: #3E85D3;
		width: 28vmin;
		height: 28vmin;
	}
	#streetRacingBox {
		position: relative;
		clear: both;
		display: inline-block;
		background-color: #3E85D3;
		width: 28vmin;
		height: 28vmin;
	}
	#trafficTicketsBox {
		position: relative;
		display: inline-block;
		background-color: #0b52a0;
		width: 28vmin;
		height: 28vmin;
	}
	#container {
		position: absolute;
		width: 100vw;
	}
	#content {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
	}
	#menuButton {
		position: relative;
		z-index: 10;
		float: left;
		display: block;
		width: calc(10vh);
		height: calc(10vh);
		min-height: 44px;
		font-size: 4vh;
		letter-spacing: -0.5vh;
		background-color: #0b52a0;
		border: none;
		/* various browser font rotators and de-selectors*/
		-webkit-transform: rotate(-90deg);
		-moz-transform: rotate(-90deg);
		-ms-transform: rotate(-90deg);
		-o-transform: rotate(-90deg);
		filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=3);
		-webkit-user-select: none;      
		-moz-user-select: none;
		-ms-user-select: none; 
		user-select: none;
	}
	#pageTitle {
		color: #1c252b;
		padding: 0 0vw 4vh 0vw;
	}
	#phoneIcon {
		position: relative;
		z-index: 10;
		float: right;
		display: inline-block;
		width: calc(10vh);
		height: calc(10vh);
		min-width: 44px;
		min-height: 44px;
		background-color: #0b52a0;
		border: none;
	}
	#phoneIcon img {
		width: 8vmin;
		height: 8vmin;
	}
	#sideMenu {
		position: absolute;
		background-color: #0b52a0;
	}
	#sideMenuPhone {
		background-color: #0b52a0;
		font-weight: bold;
		text-align: center;
	}
	#sideMenuTitle {
		background-color: rgba(0, 0, 0, 0.3);
		font-weight: bold;
		text-align: center;
	}
	#title {
		background-color: #0b52a0;
		border: none;
		font-size: 5vw;
		text-align: center;
	}
	#topMenu {
		position: absolute;
		line-height: 10vh;
	}
	#topTitle {
		position: relative;
		line-height: 10vh;
		width: 100%;
		text-align: center;
		background-color: #0b52a0;
	}

/* Portrait Classes */
	
	.botMenuPortrait {
		position: absolute;
		top: 70vh;
		left: 0;
		width: 100vw;
		height: 20vh;
		background-color: #0b52a0;
	}
	.containerPortrait {
		top: 10vh;
		left: 0;
		height: 90vh;
	}
	.contentPortrait {
		height: calc(100% - 20vh);
	}
	.menuButtonPortrait {
	}
	.pageTitlePortrait {
		font-size: 8vmin;
		line-height: 10vw;
		width: 70vw;
		margin: 2vh auto 0 auto;
	}
	.sideMenuPortrait {
		top: 10vh;
		left: -300px;
		width: 300px;
		height: 90vh;
	}
	.sideMenuPhonePortrait {
		display: none !important;
	}
	.sideMenuTitlePortrait {
		display: none !important;
	}
	.topMenuPortrait {
		top: 0;
		left: 0;
		width: 100vw;
		height: 10vh;
		background-color: #0b52a0;
	}

/* Landscape Classes */
	.blackBoxLandscape {
		display: none;
	}
	.botMenuLandscape {
		display: none !important;
	}
	.containerLandscape {
		top: 10vh;
		left: 0;
		height: 90vh;
	}
	.contentLandscape {
		height: 100%;
	}
	.menuButtonLandscape {
		
	}
	.pageTitleLandscape {
		font-size: 8vh;
		line-height: 8vh;
		
	}
	.sideMenuLandscape {
		top: 10vh;
		left: -300px;
		width: 300px;
		height: 90vh;
	}
	.sideMenuPhoneLandscape {
		display: none !important;
	}
	.sideMenuTitleLandscape {
		display: none !important;
	}
	.topMenuLandscape {
		top: 0;
		left: 0;
		width: 100vw;
		height: 10vh;
		background-color: #0b52a0;
	}

/* Desktop classes */
	.blackBoxDesktop {
		display: none;
	}
	.botMenuDesktop {
		display: none !important;
	}
	.containerDesktop {
		top: 0;
		left: 300px;
		height: 100vh;
	}
	.contentDesktop {
		height: 100%;
	}
	.menuButtonDesktop {
		display: none !important;
	}
	.pageTitleDesktop {
		font-size: 48px;
		width: 50vw;
		margin-left: auto;
		margin-right: auto;
		text-align: left;
		line-height: 60px;
	}
	.sideMenuDesktop {
		top: 0;
		left: 0;
		width: 300px;
		height: 100vh;
	}
	.sideMenuPhoneDesktop {
		font-weight: normal !important;
		letter-spacing: 3px !important;
		font-size: 22px !important;
		line-height: 22px !important;
		padding: 20px 0 10px 0 !important;
	}
	.sideMenuPhoneDesktop a {
		/*pointer-events: none;*/
	}
	.sideMenuTitleDesktop {
		font-size: 22px !important;
		line-height: 60px !important;
		padding: 0px !important;
	}
	.topMenuDesktop {
		display: none !important;
	}
	.topTitleDesktop {
		display: none !important;
	}
	
/* ------------------------------------------------ Class Media Queries ------------------------------------------------- */
@media screen and (min-width: 800px) {
	.text2 {
		font-size: 24px;
		line-height: 32px;
		margin-left: auto;
		margin-right: auto;
		text-indent: 0;
		width: 50vw;
	}
	.hLine {
		width: 50vw;
		margin-left: auto;
		margin-right: auto;
	}
}
@media screen and (min-width: 600px) and (orientation: portrait) {
	#pageTitle {
		font-size: 6vh;
		line-height: 6vh;
	}
}
